html, body {
  @font-face {
    font-family: "Rubik-Regular";
    src: url('./assets/fonts/Rubik/Rubik-Regular.ttf');
  };
}




h1,h2,h3,h4,h5,h6 {
  @font-face {
    font-family: "IBMPlexSans-Regular";
    src: url('./assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf');
  };
}


